<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\logs\NgCapitalApi\NgCapitalApiLog.txt"
    >
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
     <target xsi:type="File" name="all_logs" fileName="c:\temp\logs\NgCapitalApi\all.log" />
     <target xsi:type="File" name="relevant_logs" fileName="c:\temp\logs\NgCapitalApi\relevant_log.log" />
     <target xsi:type="Console" name="consoleNgCapitalApi" layout="${longdate} ${level} ${message}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="all_logs" />
    <logger name="*" minlevel="Warn" writeTo="relevant_logs" />
    <logger name="*" minlevel="Trace" writeTo="consoleNgCapitalApi" />
  </rules>
</nlog>


<!--
   throwExceptions="false"


   <target xsi:type="File" name="fileTarget" fileName="C:/logs/helloworld-${shortdate}.log" layout="${longdate} ${level} ${message}" />
    <target xsi:type="Console" name="consoleTarget" layout="${longdate} ${level} ${message}" />
   
<target xsi:type="File" name="fileTarget" fileName="C:/logs/helloworld-${shortdate}.log" layout="${longdate} ${level} ${message}" />

<target xsi:type="Console" name="ConsoleNgCapitalApi" layout="${longdate} ${level} ${message}" />
<target xsi:type="File" name="relevant_logs" fileName="c:\temp\logs\NgCapitalApi\relevant_log.log" />
<target xsi:type="File" name="all_logs" fileName="c:\temp\logs\NgCapitalApi\all.log" />
    <target xsi:type="File" name="fileTarget" fileName="C:/logs/helloworld-${shortdate}.log" layout="${longdate} ${level} ${message}" />
    <target xsi:type="Console" name="consoleTarget" layout="${longdate} ${level} ${message}" />


<logger name="*" minlevel="Trace" writeTo="fileNgCapitalApi,consoleNgCapitalApi" />
<logger name="*" minlevel="Debug" writeTo="all_logs" />
<logger name="*" minlevel="Warn" writeTo="relevant_logs" />
<logger name="*" minlevel="Warn" writeTo="all_logs" />
<logger name="*" minlevel="Trace" writeTo="fileTarget,consoleTarget" />
<logger name="*" minlevel="Trace" writeTo="fileTarget,consoleTarget" />

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\logs\NgCapitalApi\NgCapitalApiLog.txt"
    >
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
     <target xsi:type="File" name="all_logs" fileName="c:\temp\logs\NgCapitalApi\all.log" />
     <target xsi:type="File" name="relevant_logs" fileName="c:\temp\logs\NgCapitalApi\relevant_log.log" />
     <target xsi:type="Console" name="consoleNgCapitalApi" layout="${longdate} ${level} ${message}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" writeTo="all_logs" />
    <logger name="*" minlevel="Warn" writeTo="relevant_logs" />
    <logger name="*" minlevel="Trace" writeTo="consoleNgCapitalApi" />
  </rules>


-->